/**
 * This file contains the css/tlme-colors.css file for project RWS-0001-A
 *
 * CSS Version:3.0
 *
 * File Information:
 * Project Name: RWS-0001-A
 * Section Name: CSS
 * File Name: tlme-colors.css
 * Author: Troy L. Marker
 * Language: CSS 3.0
 *
 * File Copyright: 06/15/2024
 */
.tlme-bcolor-aliceblue          { background-color: #f0f8ff; }
.tlme-bcolor-antiquewhite       { background-color: #faebd7; }
.tlme-bcolor-aqua               { background-color: #00ffff; }
.tlme-bcolor-aquamarine         { background-color: #7fffd4; }
.tlme-bcolor-azure              { background-color: #f0ffff; }
.tlme-bcolor-beige              { background-color: #f5f5dc; }
.tlme-bcolor-bisque             { background-color: #f5e4c4; }
.tlme-bcolor-black              { background-color: #000000; }
.tlme-bcolor-blanchedalmond     { background-color: #ffebcd; }
.tlme-bcolor-blue               { background-color: #0000ff; }
.tlme-bcolor-blueviolet         { background-color: #8a2be2; }
.tlme-bcolor-brown              { background-color: #a52a2a; }
.tlme-bcolor-burlywood          { background-color: #deb85d; }
.tlme-bcolor-cadetblue          { background-color: #5f9ea0; }
.tlme-bcolor-chartreuse         { background-color: #7fff00; }
.tlme-bcolor-chocolate          { background-color: #d2691e; }
.tlme-bcolor-coral              { background-color: #ff7f50; }
.tlme-bcolor-cornflowerblue     { background-color: #6495ed; }
.tlme-bcolor-cornsilk           { background-color: #fff8dc; }
.tlme-bcolor-crimson            { background-color: #dc143c; }
.tlme-bcolor-cyan               { background-color: #00ffff; }
.tlme-bcolor-darkblue           { background-color: #00008b; }
.tlme-bcolor-darkcyan           { background-color: #008b8b; }
.tlme-bcolor-darkgoldenrod      { background-color: #b8860b; }
.tlme-bcolor-darkgray           { background-color: #a9a9a9; }
.tlme-bcolor-darkgreen          { background-color: #006400; }
.tlme-bcolor-darkgrey           { background-color: #a9a9a9; }
.tlme-bcolor-darkkhaki          { background-color: #bdb76b; }
.tlme-bcolor-darkmagenta        { background-color: #8b008b; }
.tlme-bcolor-darkolivegreen     { background-color: #556b27; }
.tlme-bcolor-darkorange         { background-color: #ff8c00; }
.tlme-bcolor-darkorchid         { background-color: #9932cc; }
.tlme-bcolor-darkred            { background-color: #8b0000; }
.tlme-bcolor-darksalmon         { background-color: #e9967a; }
.tlme-bcolor-darkseagreen       { background-color: #8fbc8f; }
.tlme-bcolor-darkslateblue      { background-color: #483e8b; }
.tlme-bcolor-darkslategray      { background-color: #274f4f; }
.tlme-bcolor-darkslategrey      { background-color: #274f4f; }
.tlme-bcolor-darkturquoise      { background-color: #00ced1; }
.tlme-bcolor-darkviolet         { background-color: #6400d3; }
.tlme-bcolor-deeppink           { background-color: #ff1493; }
.tlme-bcolor-deepskyblue        { background-color: #00bfff; }
.tlme-bcolor-dimgray            { background-color: #696969; }
.tlme-bcolor-dimgrey            { background-color: #696969; }
.tlme-bcolor-dodgerblue         { background-color: #1e90ff; }
.tlme-bcolor-firebrick          { background-color: #b22222; }
.tlme-bcolor-floralwhite        { background-color: #fffaf0; }
.tlme-bcolor-forestgreen        { background-color: #228b22; }
.tlme-bcolor-fuchsia            { background-color: #ff00ff; }
.tlme-bcolor-gainsboro          { background-color: #dcdcdc; }
.tlme-bcolor-ghostwhite         { background-color: #f8f8ff; }
.tlme-bcolor-gold               { background-color: #ffd700; }
.tlme-bcolor-goldenrod          { background-color: #daa520; }
.tlme-bcolor-gray               { background-color: #808080; }
.tlme-bcolor-green              { background-color: #008000; }
.tlme-bcolor-greenyellow        { background-color: #adff2f; }
.tlme-bcolor-grey               { background-color: #808080; }
.tlme-bcolor-honeydew           { background-color: #f0fff0; }
.tlme-bcolor-hotpink            { background-color: #ff69b4; }
.tlme-bcolor-indianred          { background-color: #cd5c5c; }
.tlme-bcolor-indigo             { background-color: #4b0082; }
.tlme-bcolor-ivory              { background-color: #fffff0; }
.tlme-bcolor-khaki              { background-color: #f0e680; }
.tlme-bcolor-lavender           { background-color: #e6e6fa; }
.tlme-bcolor-lavenderblush      { background-color: #fff0f5; }
.tlme-bcolor-lawngreen          { background-color: #7cfc00; }
.tlme-bcolor-lemonchiffon       { background-color: #fffacd; }
.tlme-bcolor-lightblue          { background-color: #add8e6; }
.tlme-bcolor-lightcoral         { background-color: #ff7f50; }
.tlme-bcolor-lightcyan          { background-color: #e0ffff; }
.tlme-bcolor-lightgoldenrod     { background-color: #fafad2; }
.tlme-bcolor-lightgray          { background-color: #d3d3d3; }
.tlme-bcolor-lightgreen         { background-color: #00ff00; }
.tlme-bcolor-lightgrey          { background-color: #d3d3d3; }
.tlme-bcolor-lightpink          { background-color: #ffb6c1; }
.tlme-bcolor-lightsalmon        { background-color: #ffa07a; }
.tlme-bcolor-lightseagreen      { background-color: #20b2aa; }
.tlme-bcolor-lightskyblue       { background-color: #87ceeb; }
.tlme-bcolor-lightslategrey     { background-color: #778899; }
.tlme-bcolor-lightsteelblue     { background-color: #b0c4de; }
.tlme-bcolor-lightyellow        { background-color: #ffffe0; }
.tlme-bcolor-lime               { background-color: #c0ff00; }
.tlme-bcolor-limegreen          { background-color: #32cd32; }
.tlme-bcolor-linen              { background-color: #faf0e6; }
.tlme-bcolor-magenta            { background-color: #ff00ff; }
.tlme-bcolor-maroon             { background-color: #800000; }
.tlme-bcolor-mediumaquamarine   { background-color: #66cdaa; }
.tlme-bcolor-mediumblue         { background-color: #0000cd; }
.tlme-bcolor-mediumorchid       { background-color: #ff0090; }
.tlme-bcolor-mediumpurple       { background-color: #e6e6fa; }
.tlme-bcolor-mediumseagreen     { background-color: #3cb371; }
.tlme-bcolor-mediumslateblue    { background-color: #6a5acd; }
.tlme-bcolor-mediumspringgreen  { background-color: #00ff80; }
.tlme-bcolor-mediumturquoise    { background-color: #40e0d0; }
.tlme-bcolor-mediumvioletred    { background-color: #c71585; }
.tlme-bcolor-mediumlightblue    { background-color: #cdd6ff; }
.tlme-bcolor-mintcream          { background-color: #f5fffa; }
.tlme-bcolor-mistyrose          { background-color: #ffd1dc; }
.tlme-bcolor-moccasin           { background-color: #ffe4b5; }
.tlme-bcolor-navajowhite        { background-color: #ffdead; }
.tlme-bcolor-navy               { background-color: #000080; }
.tlme-bcolor-oldlace            { background-color: #fdf5e6; }
.tlme-bcolor-olive              { background-color: #808000; }
.tlme-bcolor-olivedrab          { background-color: #6b8e23; }
.tlme-bcolor-orange             { background-color: #ffa500; }
.tlme-bcolor-orangered          { background-color: #ff4500; }
.tlme-bcolor-orchid             { background-color: #da70d6; }
.tlme-bcolor-palegoldenrod      { background-color: #eee8aa; }
.tlme-bcolor-palegreen          { background-color: #98fb98; }
.tlme-bcolor-paleturquoise      { background-color: #30d5c8; }
.tlme-bcolor-palevioletred      { background-color: #db7093; }
.tlme-bcolor-papayawhip         { background-color: #ffefd5; }
.tlme-bcolor-peachpuff          { background-color: #ffdab9; }
.tlme-bcolor-peru               { background-color: #cd853f; }
.tlme-bcolor-pink               { background-color: #ffc0cb; }
.tlme-bcolor-plum               { background-color: #8e4585; }
.tlme-bcolor-powderblue         { background-color: #b6d0e2; }
.tlme-bcolor-purple             { background-color: #a020f0; }
.tlme-bcolor-rebeccapurple      { background-color: #663399; }
.tlme-bcolor-red                { background-color: #ff0000; }
.tlme-bcolor-rosybrown          { background-color: #bc8f8f; }
.tlme-bcolor-royalblue          { background-color: #4169e1; }
.tlme-bcolor-saddlebrown        { background-color: #8b4513; }
.tlme-bcolor-salmon             { background-color: #fa8072; }
.tlme-bcolor-sandybrown         { background-color: #f4a460; }
.tlme-bcolor-seagreen           { background-color: #20b2aa; }
.tlme-bcolor-seashell           { background-color: #fff5ee; }
.tlme-bcolor-sienna             { background-color: #a0522d; }
.tlme-bcolor-silver             { background-color: #c0c0c0; }
.tlme-bcolor-skyblue            { background-color: #00bfff; }
.tlme-bcolor-slateblue          { background-color: #6a5acd; }
.tlme-bcolor-slategray          { background-color: #8a9792; }
.tlme-bcolor-slategrey          { background-color: #8a9792; }
.tlme-bcolor-snow               { background-color: #fffafa; }
.tlme-bcolor-springgreen        { background-color: #00ff7f; }
.tlme-bcolor-steelblue          { background-color: #4682b4; }
.tlme-bcolor-tan                { background-color: #d2b48c; }
.tlme-bcolor-teal               { background-color: #008080; }
.tlme-bcolor-thistle            { background-color: #d8bfd8; }
.tlme-bcolor-tomato             { background-color: #ff6347; }
.tlme-bcolor-turquoise          { background-color: #40e0d0; }
.tlme-bcolor-violet             { background-color: #8f00ff; }
.tlme-bcolor-wheat              { background-color: #f5deb3; }
.tlme-bcolor-white              { background-color: #ffffff; }
.tlme-bcolor-whitesmoke         { background-color: #f5f5f5; }
.tlme-bcolor-yellow             { background-color: #ffff00; }
.tlme-bcolor-yellowgreen        { background-color: #9acd32; }
.tlme-fcolor-aliceblue          { color: #f0f8ff; }
.tlme-fcolor-antiquewhite       { color: #faebd7; }
.tlme-fcolor-aqua               { color: #00ffff; }
.tlme-fcolor-aquamarine         { color: #7fffd4; }
.tlme-fcolor-azure              { color: #f0ffff; }
.tlme-fcolor-beige              { color: #f5f5dc; }
.tlme-fcolor-bisque             { color: #f5e4c4; }
.tlme-fcolor-black              { color: #000000; }
.tlme-fcolor-blanchedalmond     { color: #ffebcd; }
.tlme-fcolor-blue               { color: #0000ff; }
.tlme-fcolor-blueviolet         { color: #8a2be2; }
.tlme-fcolor-brown              { color: #a52a2a; }
.tlme-fcolor-burlywood          { color: #deb85d; }
.tlme-fcolor-cadetblue          { color: #5f9ea0; }
.tlme-fcolor-chartreuse         { color: #7fff00; }
.tlme-fcolor-chocolate          { color: #d2691e; }
.tlme-fcolor-coral              { color: #ff7f50; }
.tlme-fcolor-cornflowerblue     { color: #6495ed; }
.tlme-fcolor-cornsilk           { color: #fff8dc; }
.tlme-fcolor-crimson            { color: #dc143c; }
.tlme-fcolor-cyan               { color: #00ffff; }
.tlme-fcolor-darkblue           { color: #00008b; }
.tlme-fcolor-darkcyan           { color: #008b8b; }
.tlme-fcolor-darkgoldenrod      { color: #b8860b; }
.tlme-fcolor-darkgray           { color: #a9a9a9; }
.tlme-fcolor-darkgreen          { color: #006400; }
.tlme-fcolor-darkgrey           { color: #a9a9a9; }
.tlme-fcolor-darkkhaki          { color: #bdb76b; }
.tlme-fcolor-darkmagenta        { color: #8b008b; }
.tlme-fcolor-darkolivegreen     { color: #556b27; }
.tlme-fcolor-darkorange         { color: #ff8c00; }
.tlme-fcolor-darkorchid         { color: #9932cc; }
.tlme-fcolor-darkred            { color: #8b0000; }
.tlme-fcolor-darksalmon         { color: #e9967a; }
.tlme-fcolor-darkseagreen       { color: #8fbc8f; }
.tlme-fcolor-darkslateblue      { color: #483e8b; }
.tlme-fcolor-darkslategray      { color: #274f4f; }
.tlme-fcolor-darkslategrey      { color: #274f4f; }
.tlme-fcolor-darkturquoise      { color: #00ced1; }
.tlme-fcolor-darkviolet         { color: #6400d3; }
.tlme-fcolor-deeppink           { color: #ff1493; }
.tlme-fcolor-deepskyblue        { color: #00bfff; }
.tlme-fcolor-dimgray            { color: #696969; }
.tlme-fcolor-dimgrey            { color: #696969; }
.tlme-fcolor-dodgerblue         { color: #1e90ff; }
.tlme-fcolor-firebrick          { color: #b22222; }
.tlme-fcolor-floralwhite        { color: #fffaf0; }
.tlme-fcolor-forestgreen        { color: #228b22; }
.tlme-fcolor-fuchsia            { color: #ff00ff; }
.tlme-fcolor-gainsboro          { color: #dcdcdc; }
.tlme-fcolor-ghostwhite         { color: #f8f8ff; }
.tlme-fcolor-gold               { color: #ffd700; }
.tlme-fcolor-goldenrod          { color: #daa520; }
.tlme-fcolor-gray               { color: #808080; }
.tlme-fcolor-green              { color: #008000; }
.tlme-fcolor-greenyellow        { color: #adff2f; }
.tlme-fcolor-grey               { color: #808080; }
.tlme-fcolor-honeydew           { color: #f0fff0; }
.tlme-fcolor-hotpink            { color: #ff69b4; }
.tlme-fcolor-indianred          { color: #cd5c5c; }
.tlme-fcolor-indigo             { color: #4b0082; }
.tlme-fcolor-ivory              { color: #fffff0; }
.tlme-fcolor-khaki              { color: #f0e680; }
.tlme-fcolor-lavender           { color: #e6e6fa; }
.tlme-fcolor-lavenderblush      { color: #fff0f5; }
.tlme-fcolor-lawngreen          { color: #7cfc00; }
.tlme-fcolor-lemonchiffon       { color: #fffacd; }
.tlme-fcolor-lightblue          { color: #add8e6; }
.tlme-fcolor-lightcoral         { color: #ff7f50; }
.tlme-fcolor-lightcyan          { color: #e0ffff; }
.tlme-fcolor-lightgoldenrod     { color: #fafad2; }
.tlme-fcolor-lightgray          { color: #d3d3d3; }
.tlme-fcolor-lightgreen         { color: #00ff00; }
.tlme-fcolor-lightgrey          { color: #d3d3d3; }
.tlme-fcolor-lightpink          { color: #ffb6c1; }
.tlme-fcolor-lightsalmon        { color: #ffa07a; }
.tlme-fcolor-lightseagreen      { color: #20b2aa; }
.tlme-fcolor-lightskyblue       { color: #87ceeb; }
.tlme-fcolor-lightslategrey     { color: #778899; }
.tlme-fcolor-lightsteelblue     { color: #b0c4de; }
.tlme-fcolor-lightyellow        { color: #ffffe0; }
.tlme-fcolor-lime               { color: #c0ff00; }
.tlme-fcolor-limegreen          { color: #32cd32; }
.tlme-fcolor-linen              { color: #faf0e6; }
.tlme-fcolor-magenta            { color: #ff00ff; }
.tlme-fcolor-maroon             { color: #800000; }
.tlme-fcolor-mediumaquamarine   { color: #66cdaa; }
.tlme-fcolor-mediumblue         { color: #0000cd; }
.tlme-fcolor-mediumorchid       { color: #ff0090; }
.tlme-fcolor-mediumpurple       { color: #e6e6fa; }
.tlme-fcolor-mediumseagreen     { color: #3cb371; }
.tlme-fcolor-mediumslateblue    { color: #6a5acd; }
.tlme-fcolor-mediumspringgreen  { color: #00ff80; }
.tlme-fcolor-mediumturquoise    { color: #40e0d0; }
.tlme-fcolor-mediumvioletred    { color: #c71585; }
.tlme-fcolor-mediumlightblue    { color: #cdd6ff; }
.tlme-fcolor-mintcream          { color: #f5fffa; }
.tlme-fcolor-mistyrose          { color: #ffd1dc; }
.tlme-fcolor-moccasin           { color: #ffe4b5; }
.tlme-fcolor-navajowhite        { color: #ffdead; }
.tlme-fcolor-navy               { color: #000080; }
.tlme-fcolor-oldlace            { color: #fdf5e6; }
.tlme-fcolor-olive              { color: #808000; }
.tlme-fcolor-olivedrab          { color: #6b8e23; }
.tlme-fcolor-orange             { color: #ffa500; }
.tlme-fcolor-orangered          { color: #ff4500; }
.tlme-fcolor-orchid             { color: #da70d6; }
.tlme-fcolor-palegoldenrod      { color: #eee8aa; }
.tlme-fcolor-palegreen          { color: #98fb98; }
.tlme-fcolor-paleturquoise      { color: #30d5c8; }
.tlme-fcolor-palevioletred      { color: #db7093; }
.tlme-fcolor-papayawhip         { color: #ffefd5; }
.tlme-fcolor-peachpuff          { color: #ffdab9; }
.tlme-fcolor-peru               { color: #cd853f; }
.tlme-fcolor-pink               { color: #ffc0cb; }
.tlme-fcolor-plum               { color: #8e4585; }
.tlme-fcolor-powderblue         { color: #b6d0e2; }
.tlme-fcolor-purple             { color: #a020f0; }
.tlme-fcolor-rebeccapurple      { color: #663399; }
.tlme-fcolor-red                { color: #ff0000; }
.tlme-fcolor-rosybrown          { color: #bc8f8f; }
.tlme-fcolor-royalblue          { color: #4169e1; }
.tlme-fcolor-saddlebrown        { color: #8b4513; }
.tlme-fcolor-salmon             { color: #fa8072; }
.tlme-fcolor-sandybrown         { color: #f4a460; }
.tlme-fcolor-seagreen           { color: #20b2aa; }
.tlme-fcolor-seashell           { color: #fff5ee; }
.tlme-fcolor-sienna             { color: #a0522d; }
.tlme-fcolor-silver             { color: #c0c0c0; }
.tlme-fcolor-skyblue            { color: #00bfff; }
.tlme-fcolor-slateblue          { color: #6a5acd; }
.tlme-fcolor-slategray          { color: #8a9792; }
.tlme-fcolor-slategrey          { color: #8a9792; }
.tlme-fcolor-snow               { color: #fffafa; }
.tlme-fcolor-springgreen        { color: #00ff7f; }
.tlme-fcolor-steelblue          { color: #4682b4; }
.tlme-fcolor-tan                { color: #d2b48c; }
.tlme-fcolor-teal               { color: #008080; }
.tlme-fcolor-thistle            { color: #d8bfd8; }
.tlme-fcolor-tomato             { color: #ff6347; }
.tlme-fcolor-turquoise          { color: #40e0d0; }
.tlme-fcolor-violet             { color: #8f00ff; }
.tlme-fcolor-wheat              { color: #f5deb3; }
.tlme-fcolor-white              { color: #ffffff; }
.tlme-fcolor-whitesmoke         { color: #f5f5f5; }
.tlme-fcolor-yellow             { color: #ffff00; }
.tlme-fcolor-yellowgreen        { color: #9acd32; }